:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5vh;
  line-height: 1.1;
  color: black;
  margin: 3vh;
}
p {
  color: black;
}
.header {
  margin: 0;
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  background-color: black;
  display: flex;
  height: 5%;
}
.pageBody {
  margin: 0;
  position: absolute;
  top:5%;
  left: 0%;
  width: 100%;
  height: 95%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.aboutMe {
  margin: 0;
  position: absolute;
  top:0%;
  left: 0%;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

}
.projects {
  margin: 0;
  position: absolute;
  top:100%;
  left: 0%;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

}
.experience {
  margin: 0;
  position: absolute;
  top:200%;
  left: 0%;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;

}
#aboutMeBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90%;
}
#Personal_Description {
  margin: 0;
  top: 0%;
  height: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
#name {
  margin-top: 30vh;
  margin-bottom: 10vh;
}
#scrollDownButton{
  background-color: transparent;
  color: black;
  height: 5%;
  top: 95%;
  font-size: 1.5em;
}
.projectTable{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85%;
}
.projectBox {
  margin: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  border-style: solid;
  border-width: 0.3em;
  border-color: transparent;
  border-radius: 2em;
  height: 20%;
  max-width: 990px;
}
.projectBox:hover{
  border-color: blue;
}
.projectInfo {
  width: 70%;
  left: 30%;
  height: 100%;
  margin: 0;
}
.projectTitle {
  margin-top: 2%;
  max-height: 80%;
  font-size: 2em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
}
.thumbnail {
  aspect-ratio: inherit;
  max-width: 28%;
  max-height: 100%;
}
.popupFull {
  height: 100%;
  background-color: rgb(221, 218, 218);
}
.popupCard{
  height: 55%;
  width: 80%;
  top: 20%;
  left: 10%;
  margin: 0;
  position: absolute;
  background-color: white;
  border-style: solid;
  border-width: 0.3em;
  border-color: black;
  border-radius: 2em;
  padding-top: 5%;
}
.popupImg{
  aspect-ratio: inherit;
  max-height: 50%;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
